@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    background-color: #232323;
    overflow-x: hidden;
}
.header {
    height: 100vh;
    width: 100%;
}
.navbar {
    padding: 15px 18px !important;
}
.logo {
    font-weight: 600;
    color: goldenrod !important;
    transition: .3s;
}
.bxl-mailchimp{
    font-size: 2rem;
}
.logo:hover {
    transform: translateY(-.9px);
}

.nav-item {
    margin: 0px 10px;
}

.nav-item .nav-link {
    color: rgba(255, 255, 255, .92);
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: goldenrod;
    width: 0%;
    height: 3px;
    transition: .4s ease-in-out;
}

.nav-item:hover .nav-link::after {
    width: 100%;
}
.nav-item:hover {
    color: rgb(255, 193, 55);
    /* transform: translateY(-.9px); */
    transition: 0.3s;

}
.nav-item .nav-link.active{
    color: aqua;
}

.btn-navbar {
    display: inline-block;
    padding: 10px 43px;
    border: 1px solid rgb(36, 193, 255);
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(36, 193, 255);
    transition: .3s ease;
}

.btn-navbar:hover {
    color: gold;
    background-color: transparent;
    border: 1px solid goldenrod;
    
}

.content-home2 {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 74px;
}
.para-home {
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 255, 255, .42 );
    max-width: 400px;
    line-height: 24px;
    margin: 14px 0px;
}
.home-links {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(36, 193, 255);
    background-color: rgb(36, 193, 255);
    margin: 20px 0px;
    margin-right: 7px;
    border-radius: 50px;
    padding: 10px 37px;
    font-size: 14px;
    font-weight: 600;
    transition: .2s ease;
}
.btn-2{
    border: 1px solid cyan;
    color: aqua;
    background-color: transparent;
}

.home-links:hover {
    background-color: transparent;
    color: goldenrod;
    border: 1px solid goldenrod !important;
}
.img-home {
    margin-right: 20px;
    width: 580px;
}







/*  */
